# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
.env


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Generated Maps (optional)


# Jupyter
.ipynb_checkpoints/